node-red.flow
[{"id":"f13a18.1124b5e8","type":"ui_gauge","z":"bcb46bb9.b34678","name":"","group":"5898b67e.b6147","order":0,"width":0,"height":0,"gtype":"donut","title":"Schaffen wir heute 20 QR-Scans?","label":"Scans","format":"{{value}}","min":0,"max":"20","colors":["#b50200","#e6e600","#38ca41"],"seg1":"15","seg2":"19","x":631.0000228881836,"y":543.9999809265137,"wires":[]},{"id":"f1895476.af2fb","type":"inject","z":"bcb46bb9.b34678","name":"Reset","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":207,"y":499,"wires":[["2b66633f.8c8c34"]]},{"id":"ae1d3659.45d7","type":"link in","z":"bcb46bb9.b34678","name":"","links":["f0fed7da.3182c8"],"x":134,"y":584,"wires":[["53021584.8fa104"]]},{"id":"53021584.8fa104","type":"function","z":"bcb46bb9.b34678","name":"","func":"// initialise the counter to 0 if it doesn't exist already\nvar qr_scans = context.get('qr-scans')||0;\nvar total_qr_scans = context.get('total-qr-scans')||0;\nqr_scans += 1;\ntotal_qr_scans += 1;\n// store the value back\ncontext.set('qr-scans', qr_scans);\ncontext.set('total-qr-scans', total_qr_scans);\n\nmsg.payload = qr_scans;\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":599,"wires":[["f13a18.1124b5e8"]]},{"id":"2b66633f.8c8c34","type":"function","z":"bcb46bb9.b34678","name":"","func":"context.set('qr-scans',0);\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":500,"wires":[["f13a18.1124b5e8"]]},{"id":"a1e25f6b.48ec2","type":"debug","z":"bcb46bb9.b34678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1185,"y":366,"wires":[]},{"id":"90d16ff6.2f8148","type":"ui_switch","z":"bcb46bb9.b34678","name":"","label":"Power","tooltip":"","group":"91fd04a2.ca9ab","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":465,"y":166,"wires":[["a81f18d4.c78cf"]]},{"id":"a81f18d4.c78cf","type":"switch","z":"bcb46bb9.b34678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":705,"y":166,"wires":[["a70bec9d.ce54a"],["3e499563.a5a32a"]]},{"id":"e886f102.ffcf5","type":"mqtt out","z":"bcb46bb9.b34678","name":"","topic":"ddiBaum","qos":"","retain":"","broker":"d407df68.2b512","x":1125,"y":166,"wires":[]},{"id":"a70bec9d.ce54a","type":"An","z":"bcb46bb9.b34678","name":"","x":895,"y":126,"wires":[["e886f102.ffcf5"]]},{"id":"3e499563.a5a32a","type":"Aus","z":"bcb46bb9.b34678","name":"","x":895,"y":206,"wires":[["e886f102.ffcf5"]]},{"id":"c5a9a851.61948","type":"RGB","z":"bcb46bb9.b34678","rot":"0","gruen":"0","blau":"0","name":"","x":915,"y":306,"wires":[["e886f102.ffcf5","a1e25f6b.48ec2"]]},{"id":"41ce1ab8.d23eb4","type":"ui_colour_picker","z":"bcb46bb9.b34678","name":"","label":"Farbe","group":"91fd04a2.ca9ab","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":515,"y":306,"wires":[["c5a9a851.61948"]]},{"id":"c5871d04.f257e8","type":"ui_dropdown","z":"bcb46bb9.b34678","name":"","label":"Animation","tooltip":"","place":"Rainbow","group":"dd047917.f4958","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Rainbow","value":"1","type":"str"},{"label":"Juggle","value":"2","type":"str"},{"label":"Fire","value":"3","type":"str"},{"label":"Cyclon","value":"4","type":"str"}],"payload":"","topic":"","x":515,"y":426,"wires":[["284f4f2b.ab0a4"]]},{"id":"284f4f2b.ab0a4","type":"switch","z":"bcb46bb9.b34678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":665,"y":426,"wires":[["e083a529.e51db"],["24ef3bf4.bc435c"],["a9614030.b45958"],["d915a3b2.7bbbc"]]},{"id":"e083a529.e51db","type":"change","z":"bcb46bb9.b34678","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"set_animation\":\"rainbow\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":845,"y":386,"wires":[["e886f102.ffcf5","a1e25f6b.48ec2"]]},{"id":"24ef3bf4.bc435c","type":"change","z":"bcb46bb9.b34678","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"set_animation\":\"juggle\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":845,"y":426,"wires":[["e886f102.ffcf5","a1e25f6b.48ec2"]]},{"id":"d915a3b2.7bbbc","type":"change","z":"bcb46bb9.b34678","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"set_animation\":\"cyclon\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":845,"y":506,"wires":[["e886f102.ffcf5"]]},{"id":"a9614030.b45958","type":"change","z":"bcb46bb9.b34678","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"set_animation\":\"fire\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":845,"y":466,"wires":[["e886f102.ffcf5"]]},{"id":"a8a6c0d9.e753f8","type":"Helligkeit","z":"bcb46bb9.b34678","brightness":"0","name":"","x":875,"y":606,"wires":[["e886f102.ffcf5"]]},{"id":"155ea2e3.508fb5","type":"ui_slider","z":"bcb46bb9.b34678","name":"","label":"Helligkeit","tooltip":"","group":"91fd04a2.ca9ab","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"2","max":"100","step":1,"x":485,"y":606,"wires":[["a8a6c0d9.e753f8"]]},{"id":"feda1a9a.a07c68","type":"ui_form","z":"bcb46bb9.b34678","name":"","label":"Wie findest du den Baum?","group":"96beadbc.5696e","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"Name","type":"text","required":false},{"label":"Mail","value":"Mail","type":"email","required":false},{"label":"Meinung","value":"Message","type":"text","required":true},{"label":"Interesse an einer Abschlussarbeit","value":"Abschluss","type":"switch","required":true}],"formValue":{"Name":"","Mail":"","Message":"","Abschluss":false},"payload":"","submit":"Abschicken","cancel":"Abbrechen","topic":"","x":595,"y":706,"wires":[["a1e25f6b.48ec2","be77c048.c51538","c38a7a9b.b4a788"]]},{"id":"79241603.05162","type":"ui_toast","z":"bcb46bb9.b34678","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1092,"y":765,"wires":[]},{"id":"be77c048.c51538","type":"template","z":"bcb46bb9.b34678","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Danke für's Feedback","output":"str","x":815,"y":766,"wires":[["79241603.05162"]]},{"id":"845efc32.4222b8","type":"debug","z":"bcb46bb9.b34678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782,"y":58,"wires":[]},{"id":"14d166af.e3ee21","type":"inject","z":"bcb46bb9.b34678","name":"","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":237,"y":362,"wires":[["f13a18.1124b5e8"]]},{"id":"c38a7a9b.b4a788","type":"mqtt out","z":"bcb46bb9.b34678","name":"","topic":"feedback","qos":"1","retain":"true","broker":"c3f6f63b.e39968","x":1159,"y":630,"wires":[]},{"id":"5898b67e.b6147","type":"ui_group","z":"","name":"Tagesziel","tab":"9f1eda4d.183df","order":1,"disp":true,"width":"6","collapse":false},{"id":"91fd04a2.ca9ab","type":"ui_group","z":"","name":"Allgemein","tab":"9f1eda4d.183df","order":2,"disp":true,"width":"6","collapse":false},{"id":"d407df68.2b512","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd047917.f4958","type":"ui_group","z":"","name":"Animation","tab":"9f1eda4d.183df","order":3,"disp":true,"width":"6","collapse":false},{"id":"96beadbc.5696e","type":"ui_group","z":"","name":"Deine Meinung","tab":"fd1c9016.5a906","disp":true,"width":"6","collapse":false},{"id":"c3f6f63b.e39968","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f1eda4d.183df","type":"ui_tab","z":"","name":"Steuerung","icon":"phone_android","order":1},{"id":"fd1c9016.5a906","type":"ui_tab","z":"","name":"Feedback","icon":"dashboard"}]